html {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: "0.5rem";
}

[x-cloak] {
  display: none !important;
}

.nav-active {
  padding: 0 0.45rem;
  background: #94a3b8;
  border-radius: 0.125rem;
  font-weight: 300;
  color: white;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c0bca7 transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c4c0ad;
  border-radius: 10px;
}
